/* TIPOGRAFIA */

@font-face{
    font-family: 'font1';
    src: url('../font/RawengulkLight.otf') format("opentype");
}

#titolo{
    color: #c2051e;
    font-family: 'font1';
    font-size: 78px;
}

#titolo2{
    font-family: 'font1';
}

#titololog{
    color: black;
    font-family: 'font1';
    font-size: 94px;
}

#testo{
    color: #c2051e;
    font-family: 'font1';
    font-size: 28px;
    margin-bottom: 50px;
}

#testoar{
    font-family: 'font1';
    font-size: 20px;
}

#linea{
    border: solid 1px black;
}

#linea2{
    border: solid 3px #a3a2a2;
    margin-bottom: -5px;
}

/* BOTTONI */

#btn{
    height: 80px;
    width: 180px;
    background-color: transparent;
    position: relative;
    border: solid 1px white;
    top: 450px;
    left: 50px;
    color: white;
    font-family: 'font1';
    font-size: 32px;
}

#btn:hover{
    color: black;
    background-color: white;
}

#btn-f{
    height: 40px;
    width: 100px;
    background-color: white;
    color: black;
    border: solid 1px black;
    font-family: 'font1';
    font-size: 12px;
}

#btn-f:hover{
    color: white;
    background-color: black;
}

#btn-e{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border: solid 1px white;
    font-family: 'font1';
    font-size: 12px;
    margin-bottom: 20px;
}

#btn-e:hover{
    color: black;
    background-color: white;
    border: solid 1px black;
}

#btn-lo{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border: solid 1px white;
    font-family: 'font1';
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#btn-lo:hover{
    color: black;
    background-color: white;
    border: solid 1px black;
}

#btn-ar{
    color: white;
    padding: 20px;
    list-style: none;
    border: solid 1px white;
    margin-top: 30px;
    width: 100%;
    font-family: 'font1';
    background-color: transparent;
}

#btn-ar:hover{
    color: black;
    background-color: white;
}

/* INDEX */

.sfondo{
    background: url(../img/sfondo.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* NAVBAR */

.menu{
    width: 100%;
    height: 100px;
    background-color: #212121;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    margin-bottom: 100px;
}

#logo{
    height: 80px;
    width: auto;
    margin-left: 10px;
}

.voci a li{
    float: left;
    color: white;
    list-style: none;
    padding: 20px;
    font-size: 18px;
    font-family: 'font1';
}

.voci{
    margin-left: 350px;
    margin-top: -65px;
}

/* FOOTER */

footer{
    height: 300px;
    color: white;
    background-image: url(../img/footer.png);
    width: 100%;
}

/* CAROSELLO */

.carosello{
    display: none;
}

/* ABOUT */ 

#imgabout{
    margin-top: 180px;
}

/* GALLERIA FILTRI (LOCATIONS, PRODUCTS) */

.container-btn{
    margin-top: 50px;
    margin-bottom: 30px;
}

.galleria-location{
    margin-top: 30px;
    margin-bottom: 30px;
}

#filtri{
    list-style: none;
    margin-bottom: 200px;
    margin-top: 100px;
}

#filtri li{
    display: block;
    padding: 5px 10px;		
    text-decoration: none;
    color: #212121;
    cursor: pointer;
    float: left;
}

#filtri li #btn-f{
    display: block;
}

#filtri li #btn-f .active{
    color: black;
    background-color: white;
}

#lista .galleria {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 23%;
	display: none;
	float: left;
	overflow: hidden;
}

.galleria-container {
    overflow: hidden;
    position: relative !important;
    background: #212121;
    cursor: pointer;
    margin-bottom: 50px;
}

.galleria img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}

.galleria .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.galleria .label-bg {
    background: #212121;
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}

.galleria .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.galleria .text-title {
    display: block;
    font-size: 16px;
    font-family: 'font1';
}

.galleria:hover .label {
    bottom: 0;
}

.galleria:hover img {
    top: -30px;
}  

/* GALLERIA */

canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#container {
    position: absolute;
    width: 768px;
    height: 485px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* GALLRIA MODELLE */

#galleria{
    height: 200px;
    padding: 10px;
}

#contenitore-galleria{
    margin-top: 100px;
}


/* LOG IN */

.form{
    margin-top: 100px;
}

.input-container{
    padding: 30px 0px 30px 0px;
}

#input{
    padding: 15px;
    border: solid 1px black;
    margin-top: 20px;
    font-family: 'font1';
    width: 100%;
}

/* AREA RISERVATA */

.menu-riservato{
    height: 200px;
    background-color: black;
}

#imgar{
    margin-top: 20px;
}

/*
1 sistemare img web sketches e inserirle 
2 creare e sviluppare la galleria
3 completare pag locations (btn e gallery)
4 prodotti: [-accessori capelli -clutch -pochettes] 
5 creare layout contact 
6 account clienti e account amministratore (Monica)

*/