<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    
</head>
<body>

{% include 'menu.html' %}

<div class="container-fluid">
    <div class="col-xs-5">
   
   <h1 id="titolo">ABOUT</h1>
   
   <hr id="linea">
   
   <h3 id="testo">
       Moliabal was founded in 2011 by long time friends <strong>Monica Masini</strong> and <strong>Rosanna Vitella</strong>. <br><br> 
       With Monica’s flare for design and Rosanna’s renowned logistical experience they decided to start a great adventure and launched the first Italian range dedicated to <strong>luxury hair accessories</strong>. <br><br>
       
       <strong>Handmade in Italy</strong> from the highest quality resin, Moliabal hair accessories are lightweight and comfortable. <br><br> 
       Timeless and sophisticated, the core collection is black and white, with additional pieces in tortoiseshell, ivory &amp; black and red &amp; black. Silk, chiffon, crystals and beads are also used throughout the collections.<br><br>
       
       <br>Six years on Moliabal’s aim is to offer a full range of luxury fashion accessories. To this end we have now expanded our range to include <strong>clutch bags</strong> and <strong>beauty bags</strong> and in the future we will be launching our first <strong>luxury fashion jewellery collection</strong>. <br><br>
       
       Monica , Founder and General Manager of Moliabal, explains that her inspiration for the Moliabal beauty bags came from a Versace outfit from the 80’s that she found in her mother’s wardrobe. <br><br>
        Remembering the touch of this incredibly soft and light mesh material she decided to create the collection which offers basic models as well as more stylish pieces embellished with crystals. <br><br>
       
       Designs such as the Teddy bear, Love, Make up, Lady Bug and Luck are cute contemporary, trendy and fun….yet timeless. <br><br>
       
       <strong>The name Moliabal</strong> was created whilst Monica was discussing her ideas for a new and exciting range of hair accessories with three of her best friends……and is made up of the initial letters of their names : <strong>MONICA, LICIA, ABELE, ALBERTO</strong>.
   </h3>
    
    </div>
    
    <div class="col-xs-7">
       
       <img src="../static/img/about_img.png" class="img-responsive" id="imgabout">
        
    </div>
    
</div>

<hr id="linea2">

{% include 'footer.html' %}

</body>
</html>