<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    
</head>
<body>

<div class="container-fluid">
   <div class="row">
       
       <ul class="menu-riservato">
       
           <div class="col-xs-3 col-xs-offset-8">
               <a href="/logout"><button id="btn-lo">LOG OUT</button></a>
           </div>       
       
           <div class="col-xs-12">
            {% if session.username == email %}
              <a href="{{url_for('catalogo',param='boss')}}"><button id="btn-ar">VISUALIZZA AREA CLIENTI</button></a>
             {% endif %}
           </div>
       </ul> 
              
        <form class="col-xs-12" action="{{url_for('carica')}}" method='POST' enctype='multipart/form-data'>
         
         <div class="input-container">
         
             <h2 id="titolo2">Inserisci cataloghi</h2>
          
          <input id="input" type="file" placeholder="carica foto" name="catalogo">
           
         </div>
   
          <a><button id="btn-e">INSERISCI</button></a>
          <div class="progress">
           <div id='progress' class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
        
        </form>
        
        <hr>
        
        <form class="col-xs-12" action="{{url_for('carica')}}" method='POST' enctype='multipart/form-data'>
         
         <div class="input-container">
         
          <h2 id="titolo2">Inserire foto</h2>
          
           <select name='choose'>
              <option value="marketing" selected>Marketing</option>
              <option value="still-lifephotos">Still-Life Photos</option>
              <option value="brandimages">Brand Images</option>
              <option value="displays">Displays</option>
              <option value="locations">Locations</option>
              <option value="pricelists">Price Lists</option>
              <option value="fashionsketches">Fashions Sketches</option>
           </select>
          
          <input id="input" type="file" placeholder="carica foto" name="img">
           
         </div>
   
          <a><button id="btn-e">INSERISCI</button></a>
        
        </form>
    
   </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/loadingoverlay.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" src="../static/js/progress.js"></script>

</body>
</html>