<footer>
   
 <div class="container">
       <div class="row" >
         
         <div class="col-md-3 col-md-offset-9 col-xs-12">
            
             <ul id="social">
                 <li><a href="https://www.facebook.com/moliabalmilano/" target="_blank"><img src="../static/img/fb.png" class="img-responsive"></a></li>
                 <li><a href="https://www.instagram.com/moliabal/" target="_blank"><img src="../static/img/in.png" class="img-responsive"></a></li>
             </ul>

         </div>
         
         <div class="col-xs-12">
             <a class="voce" href="/area"><button id="btn-a">RESERVED AREA</button></a>
         </div>
         
       </div>
   </div>

</footer>