<div class="container-btn">
   <div class="container">
      <div class="row">
       
        <div id="contenitore-galleria">
           
            <div class="col-md-3 col-xs-6">                
                <img src="http://lorempixel.com/400/200/" class="img-responsive" id="galleria">
            </div>
            
            <div class="col-md-3 col-xs-6">                
                <img src="http://lorempixel.com/400/200/" class="img-responsive" id="galleria">
            </div>
            
            <div class="col-md-3 col-xs-6">                
                <img src="http://lorempixel.com/400/200/" class="img-responsive" id="galleria">
            </div>
            
            <div class="col-md-3 col-xs-6">                
                <img src="http://lorempixel.com/400/200/" class="img-responsive" id="galleria">
            </div>
            
            <div class="col-md-3 col-xs-6">                
                <img src="http://lorempixel.com/400/200/" class="img-responsive" id="galleria">
            </div>
            
            <div class="col-md-3 col-xs-6">                
                <img src="http://lorempixel.com/400/200/" class="img-responsive" id="galleria">
            </div>
         
         </div>
      </div>     
   </div>
</div>


<script src="../static/js/galleria.js"></script>