<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body>

<div class="container-fluid">
   <div class="row">
       
       <ul class="menu-riservato">
       
           <div class="col-xs-6">
               <a href="/prodotto"><li>Inserisci prodotto</li></a>
           </div>
       
           <div class="col-xs-6">
               <a href="/catalogo"><li>Visualizza catalogo</li></a>
           </div>
       </ul> 
       
       <div class="col-xs-3 col-xs-offset-4 form2">
            
        <form action="">
         
         <div class="input-container">
         
         <h3></h3>
          
          <input id="input" type="text" placeholder="titolo" name="prodotto">
          <input id="input" type="file" placeholder="carica foto" name="img">
           
        </div>
   
        <a><button id="btn-e">INSERISCI</button></a>
    
   </div>
    
</div>

</body>
</html>